{% extends 'base.html' %} {% load static %} {% block content%} {{block.super}}
<!--Table starts here-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <th scope="row">{{i.userId}}</th>
      <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<!--Table ends here-->

<h1>This is Index file under app</h1>
<img src="{% static 'bird2.jpg'%}" alt="bird 2 image" />
{%endblock%}
